@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Specialty

<h2>Add a new specialty</h2>
<hr />

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  <button class="green" type="submit">Add New Specialty</button>
}