@{
  Layout = "_Layout";
}

<h2>Doctor's Office Admin Portal</h2>
<hr />

<a href='@Url.Action("Index", "Doctors")'>
  <button>See All Doctors</button>
</a>
<a href='@Url.Action("Index", "Patients")'>
  <button>See All Patients</button>
</a>

<a href='@Url.Action("Index", "Specialties")'>
  <button>See All Specialties</button>
</a>